:root {
    --background-color: dodgerblue; 
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

header {
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
}

header h1 {
    font-size: 36;
    margin: 0;
}